/* 모든 화면에 상태바가 있기 때문에 따로 파일 분리 */
.status-bar {
  display: flex;
  justify-content: space-between;
  padding: 5px 3px;
}

.status-bar__column:first-child span {
  margin-right: 5px;
}

.status-bar__column .fa-battery-half {
  margin: 0px 2px;
}
