.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 20px;
  margin-bottom: 10px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__icons i {
  margin-left: 15px;
}
