.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 20px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons a {
  margin-left: 15px;
}
